
# Playwright
# Node modules
node_modules/

# Playwright reports
/test-results/
/playwright-report/

# Environment files
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

/blob-report/
/playwright/.cache/
/playwright/.auth/
